@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Kanit&family=Poppins&display=swap');

* {
  
  background-image: ;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  height: 100%;
  background: linear-gradient(to bottom, #f3f3f3, rgb(206, 48, 188), #9590e2);
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #ce90ef;
  border: 10px solid #464343;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 30px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 100px;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 20px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 100px;
  padding: 40px;
  
}
.list{
  padding: 20px;
}
